################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DoNothing.Tests/v16
/obj
/bin/Debug/netcoreapp3.1
/.vs/DoNothing.Tests/DesignTimeBuild/.dtbcache
